### Import important libraries

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

SyntaxError: ignored

### Read the dataset

In [22]:
df = pd.read_csv("Covid19_cases.csv")

### Check basic information of the dataset

In [23]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

### Statics summary of the dataset

 Total number of countries

In [25]:
df['Country/Region'].count()

187

Total number of confirmed cases

In [26]:
df['Confirmed'].sum()

16480485

Total number of deaths

In [27]:
df['Deaths'].sum()

654036

Average death rate of all the countries

In [28]:
"{:.2%}".format(df['Deaths'].sum()/df['Confirmed'].sum())

'3.97%'

### **Basic Questions**
### Which Country has maximum total cases?

In [29]:
df_confirmed=df.sort_values(by=['Confirmed'],ascending=False)
df_confirmed.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
154,South Africa,452529,7067,274925,170537,7096,298,9848,1.56,60.75,2.57,373628,78901,21.12,Africa

In [30]:
fig=px.bar(df_confirmed.iloc[0:20],color='Country/Region',y='Confirmed',x='Country/Region',template="plotly_dark",title="<b>Top 20 countries with most confirmed cases</b>")
fig.show("png")

ValueError: ignored

### Which Country has maximum total deaths?

In [ ]:
df_death=df.sort_values(by=['Deaths'],ascending=False)
df_death.head()

In [ ]:
fig=px.bar(df_death.iloc[0:20],color='Country/Region',y='Deaths',x='Country/Region',template="plotly_dark",title="<b>Top 20 countries with most deaths</b>")
fig.show("png")

### Which Country has the most active cases?

In [ ]:
df_active=df.sort_values(by=['Active'],ascending=False)
df_active.head()

In [ ]:
fig=px.bar(df_active.iloc[0:20],color='Country/Region',y='Active',x='Country/Region',template="plotly_dark",title="<b>Top 20 countries with most active cases</b>")
fig.show("png")

### Which Country has the highest death rate?

In [ ]:
df_death_connfirmed=df.sort_values(by=['Deaths / 100 Cases'],ascending=False)
df_death_connfirmed.head()

In [ ]:
fig=px.bar(df_death_connfirmed.iloc[0:20],color='Country/Region',y='Deaths / 100 Cases',x='Country/Region',template="plotly_dark",title="<b>Top 20 countries with highest death rate</b>")
fig.show("png")

### Pie Chart Representation of stats of countries of confirmed cases

In [ ]:
labels=df_confirmed[0:15]['Country/Region'].values
fig=px.pie(df_confirmed[0:15],values='Confirmed',names=labels,template="plotly_dark",title="Confirmed cases distribution of countries".format('Country/Region'))
fig.show("png")

### Pie Chart Representation of stats of countries of deaths

In [ ]:
labels=df_death[0:15]['Country/Region'].values
fig=px.pie(df_death[0:15],values='Deaths',names=labels,template="plotly_dark",title="Death distribution of countries".format('Country/Region'))
fig.show("png")